{{ define "main" }}
    <h1 class="title is-1">{{ .Title }}</h1>
    <div class="content">
        {{ if .Param "list_child_pages" }}
            {{ range .Pages.GroupByDate "2006" }}
                <h2>{{ .Key }}</h2>
                <ul>
                    {{ range .Pages }}
                        <li>
                            {{ .Title }}
                            {{/*
                            {{ $problemsFile := print .RelPermalink "problems.pdf" }}
                            {{ $solutionsFile := print .RelPermalink "solutions.pdf" }}
                            {{ $leaderboardFile := print .RelPermalink "leaderboard.html" }}
                            {{ $leaderboardLink := print .RelPermalink "leaderboard" }}
                            (<a href="{{ .RelPermalink }}">full details</a>{{ if fileExists $problemsFile }},
                            <a href="{{ $problemsFile }}">problems</a>{{ end }}{{ if fileExists $solutionsFile }},
                            <a href="{{ $solutionsFile }}">solutions</a>{{ end }}{{ if fileExists $leaderboardFile }},
                            <a href="{{ $leaderboardLink }}">leaderboard</a>{{ end }})
                            */}}
                            (<a href="{{ .RelPermalink }}">full details</a>{{ range .Pages }},
                            <a href="{{ .RelPermalink }}">{{ replace .File.BaseFileName "_" " " }}</a>{{ end }}{{ range .Resources }},
                            <a href="{{ .RelPermalink }}">{{ replace (strings.TrimSuffix (path.Ext .Name) .Name) "_" " " }}</a>{{ end }})
                        </li>
                    {{ end }}
                </ul>
            {{ end }}
        {{ end }}
        {{ .Content }}
    </div>
{{ end }}