<footer class="footer">
  <div class="content container">
    <div class="columns">
      <div class="column is-8 is-12-mobile">
        &copy; UNSW Competitive Programming and Mathematics Society {{ now.Format "2006" }}
      </div>
      <div class="column is-4 is-12-mobile has-text-right">
        <a href="https://www.facebook.com/CPMSoc/"><img class="small-social" src="/assets/icons/facebook_purple.png"></a>
        <a href="https://discord.gg/9uxgxHY3pP"><img class="small-social" src="/assets/icons/discord_purple.png"></a>
        <a href="mailto:cpmsoc@unswcpmsoc.com"><img class="small-social" src="/assets/icons/mail_purple.png"></a>

          <!-- <a href="mailto:cpmsoc@unswcpmsoc.com"><img src="/assets/email.png" class="contact-thumb" align="right"></a>
          <a href="https://www.facebook.com/CPMSoc/"><img src="/assets/facebook.png" class="contact-thumb" align="right" style="margin-left:10px;margin-right:10px;"></a> -->
      </div>
    </div>
  </div>
</footer>
