<footer class="footer">
  <div class="content container">
    <div class="row" style="display:flex;">
      <div class="column" style="width:50%;">
          &copy; UNSW Competitive Programming and Mathematics Society {{ now.Format "2006" }}
      </div>
      <div class="column" style="width:50%;">
          <a href="mailto:cpmsoc@unswcpmsoc.com"><img src="/assets/email.png" class="contact-thumb" align="right"></a>
          <a href="https://www.facebook.com/CPMSoc/"><img src="/assets/facebook.png" class="contact-thumb" align="right" style="margin-left:10px;margin-right:10px;"></a>
      </div>
    </div>
  </div>
</footer>
