<footer class="footer">
  <div class="content container">
    <div class="columns">
      <div class="column is-8 is-12-mobile is-size-7" style="margin:auto">
        &copy; UNSW Competitive Programming and Mathematics Society {{ now.Format "2006" }}
      </div>

      <!-- Auto change color of IMG using filters. !-->
      <!-- The exact color in question has that hex color and was converted using a hex => CSS filter converter online -->
      <style>
        img.small-social {
          padding: 3px;
          filter: invert(50%) sepia(53%) saturate(6477%) hue-rotate(233deg) brightness(98%) contrast(87%);
          /* fill: #7c61ea; */
        }
      </style>
      <div class="column is-4 is-12-mobile has-text-right">
        <a href="https://www.facebook.com/CPMSoc/">
          <img class="small-social" src="/assets/icons/facebook.svg">
        </a>
        <a href="https://discord.gg/9uxgxHY3pP">
          <img class="small-social" src="/assets/icons/discord.svg">
        </a>
        <!-- <a fill=currentColor href="https://calendar.google.com/calendar/u/0?cid=Y19mNDVmMzdjOGQzM2U2MGNlMDE4ZmMwZWU2MjcyNDdkN2Y3ODI3NDFmMmZiNmRjYjIxYjA5ZWU4YjRlYWY1YTFjQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20">
          <img class="small-social" src="/assets/icons/calendar2-date-fill.svg">
        </a> -->
        <a href="mailto:cpmsoc@unswcpmsoc.com">
          <img class="small-social" src="/assets/icons/envelope-fill.svg">
        </a>

          <!-- <a href="mailto:cpmsoc@unswcpmsoc.com"><img src="/assets/email.png" class="contact-thumb" align="right"></a>
          <a href="https://www.facebook.com/CPMSoc/"><img src="/assets/facebook.png" class="contact-thumb" align="right" style="margin-left:10px;margin-right:10px;"></a> -->
      </div>
    </div>
  </div>
</footer>
