<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ $style := resources.Get "sass/main.scss" | toCSS | postCSS | minify | fingerprint }}
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism-okaidia.min.css" integrity="sha512-mIs9kKbaw6JZFfSuo+MovjU+Ntggfoj8RwAmJbVXQ5mkAX5LlgETQEweFPI18humSPHymTb5iikEOKWF7I8ncQ==" crossorigin="anonymous" />
  <title>UNSW CPMSoc - {{ .Title }}</title>
  <link rel="shortcut icon" href="/assets/logosquare.png">

  <meta property="og:title" content="UNSW CPMSoc">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://www.unswcpmsoc.com/assets/logo.png">
  <meta property="og:url" content="https://unswcpmsoc.com/">
  <meta property="og:description" content="UNSW Competitive Programming and Mathematics Society fosters a community of students who are interested in competitive programming and/or competitive mathematics. We host regular competitions and workshops to challenge students and improve their problem solving skills, as well as social events. Our in-person events have free food!">
</head>