<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ $style := resources.Get "sass/main.scss" | toCSS | postCSS | minify | fingerprint }}
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism-dark.min.css" integrity="sha512-Njdz7T/p6Ud1FiTMqH87bzDxaZBsVNebOWmacBjMdgWyeIhUSFU4V52oGwo3sT+ud+lyIE98sS291/zxBfozKw==" crossorigin="anonymous" />
  <title>UNSW CPMSoc - {{ .Title }}</title>
</head>