<nav class="navbar is-dark" role="navigation">
  <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ .Site.BaseURL }}">
      <img class="logo" src="/assets/logo.png">
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      {{ $current := . }}
      {{ range .Site.Menus.main }}
        {{ partial "navbar-item" (dict "item" . "parent" $current ) }}
      {{ end }}
    </div>
  </div>
  </div>
</nav>
