/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #252525;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: rgb(243, 235, 235);
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(122, 120, 120);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(68, 67, 67);
}

/* Style the tab content */
.tabcontent {
  // display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
