/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid $border;
  background-color: $background;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: $text;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #eee;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: $link-color;
  color: white;
}

/* Style the tab content */
.tabcontent {
  // display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
