$family-sans-serif: 'Open Sans', Helvetica, 'Roboto', sans-serif;
$scheme-main: #1a1a1a;
$background: lighten($scheme-main, 5%);
$scheme-main-bis: lighten($scheme-main, 5%);
$text: white;
$text-strong: white;
$link: $cyan;