$family-sans-serif: 'Open Sans', Helvetica, 'Roboto', sans-serif;
// $scheme-main: #1a1a1a;
$background: white;
// $scheme-main-bis: lighten($scheme-main, 5%);
$text: black;


$primary-color: #4A8FE1;
$link-color: #7C61EA;

$text-strong: black;
$link: $link-color;
