$family-sans-serif: 'Open Sans', Helvetica, 'Roboto', sans-serif;
// $scheme-main: #1a1a1a;
$background: #F9F6EE;
// $scheme-main-bis: lighten($scheme-main, 5%);
$text: black;


$primary-color: #EF4F39;
$link-color: #9B70D2;

$text-strong: $primary-color;
$link: $link-color;
